{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% thumbnail image.image '300' as im %}
        <a href="{{ image.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <div>
                <span class="count">Лайки: {{ total_likes }}</span>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.username }}</p>
                </div>
            {% empty %}
                Пока что никто не оценил это изображение :(
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}