{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Введите ваш пароль дважды:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Изменить пароль"></p>
        </form>
    {% else %}
        <p>
            Ссылка для сброса пароля недействительна, возможно, потому что была использована ранее.
            Пожалуйста, запросите сброс пароля снова.
        </p>
    {% endif %}
{% endblock %}